/* 
    Created on : Aug 27, 2019, 2:51:04 PM
    Author     : saidu
*/
.summary{
    background-color: #F8F7F7;
}
span.required{
    color: red;
}
.error{
    color: red;
}
.width-30{
    width: 30px;
}
.width-50{
    width: 50px;
}
.width-70{
    width: 70px;
}
.width-80{
    width: 80px;
}
.width-100{
    width: 100px;
}
.width-120{
    width: 120px;
}
.width-150{
    width: 150px;
}
.column-hide{
    display: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-size-14{
    font-size: 14px;
}
.text-size-16{
    font-size: 16px;
}
.text-size-18{
    font-size: 18px;
}
.text-size-20{
    font-size: 20px;
}